:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F5F5F5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  margin: 0;
  padding: 0;
  margin: 0px 20px;
  height: 100%;
  overflow: hidden; /* Esto evita que la página se desplace */
  color: #242424; /* Texto en color blanco suave */
  font-family: 'Roboto', sans-serif; /* Tipografía elegante */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
input[type="text"], input[type="password"] {
  width: 95%; /* Asegura que el input ocupe el ancho completo de su contenedor */
  padding: 12px; /* Aumenta el padding para un aspecto más espacioso */
  border: 1px solid #dcdcdc; /* Borde gris claro para un contraste suave */
  border-radius: 5px; /* Bordes redondeados para un diseño más moderno */
  background-color: #ffffff; /* Fondo blanco para los campos */
  color: #333333; /* Texto en gris oscuro para una buena legibilidad */
  outline: none; /* Elimina el borde por defecto al hacer foco */
  font-size: 16px; /* Tamaño de fuente adecuado para la legibilidad */
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra interna sutil para profundidad */
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
  color: #a0a0a0; /* Placeholder en gris más claro para no distraer del texto real */
}

input[type="text"]:focus, input[type="password"]:focus {
  border-color: #007FCA; /* Cambia el color del borde al enfocarse para resaltar el campo */
  background-color: #f9f9f9; /* Fondo gris claro para un efecto sutil de enfoque */
  box-shadow: 0 0 0 1px #007FCA; /* Añade un borde azul sutil alrededor del campo al hacer foco */
}

/* Clase para el mensaje de éxito */
.success {
  background-color: #d4edda; /* Fondo verde claro */
  color: #155724; /* Texto verde oscuro */
  border: 1px solid #c3e6cb; /* Borde verde claro */
  padding: 15px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  font-family: 'Arial', sans-serif; /* Fuente */
  font-size: 16px; /* Tamaño de fuente */
  margin: 20px 0; /* Espaciado vertical */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  text-align: center; /* Texto centrado */
}

/* Clase para el mensaje de error */
.error {
  background-color: #f8d7da; /* Fondo rojo claro */
  color: #721c24; /* Texto rojo oscuro */
  border: 1px solid #f5c6cb; /* Borde rojo claro */
  padding: 15px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  font-family: 'Arial', sans-serif; /* Fuente */
  font-size: 16px; /* Tamaño de fuente */
  margin: 20px 0; /* Espaciado vertical */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  text-align: center; /* Texto centrado */
}


