header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    align-items: center;
    background-color: var(--primary-blue-marin);
    padding: 10px 0px;
}

a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--white); /* Color del texto de los enlaces */
}

.enlaces {
    text-align: center;
}
nav{
    display: flex;
}
.nav-container{
    display: flex;
    text-align: center;
}
nav a{
    font-weight: 600;
    padding-right: 30px;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover{
    color: var(--secondary-light-blue);
}
.logout-wrap{
    display: flex;
    text-align: center;
}
.logout-box a{
    width: 20px;
}

#logout-btn {
    background-color: #FF6F6F  ; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    width: 60%;
    height: 60%;
    border: none; /* Elimina el borde por defecto */
    border-radius: 5px; /* Bordes redondeados */
    padding: 8px 15px; /* Espaciado interno del botón */
    font-size: 14px; /* Tamaño de la fuente */
    font-weight: 600; /* Peso de la fuente */
    cursor: pointer; /* Cursor de mano al pasar sobre el botón */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
    outline: none; /* Elimina el contorno por defecto */
}


.active-user{
    margin: 10px;
}
.user-name {
    font-weight: bold;
    color: #FF5733; /* Color especial para el nombre del usuario */
  }

.nav_toggle{
    display: none;
  }

@media (max-width: 768px){
    header {
        position: static;
        display: flex;
        justify-content: space-between;
        height: 30px;
        width: 100%;
        align-items: center;
        background-color: var(--primary-blue-marin);
        padding: 25px 0px;
    }
    
    a {
        margin: 0 5px;
        text-decoration: none;
        color: var(--white); /* Color del texto de los enlaces */
    }
    
    .enlaces {
        text-align: center;
    }
    nav a{
        font-weight: 800px;
        padding-right: 10px;
        font-size: 18px;
    }
    

    /* configuracion adicional */
    .enlaces{
      position:absolute;
      top:70px;
      left:0px;
      background: var(--primary-blue-marin);
      display: flex;
      flex-direction: column;
      width: 60%;
      height: 100%;
      transform: translateX(-100%);
      transition: 0.3s  ease all;
      z-index: 1; /* Valor más bajo de z-index */

    }

    .nav-container{
        display: flex;
        border-bottom: 1px solid grey;
        margin-top: 10px;
        padding-left: 16px;
        text-align: start;
        width: 80%;
        height: 60px;
        align-items: center;
    }
  
    .nav_toggle{
        display: flex !important;
        width: 60px;
        flex-direction: column;
        margin-left:0px !important;
        margin-right: 20px;
    }
    .nav_toggle span{
      width: 30px;
      height: 4px;
      background: white;
      margin-bottom: 5px;
      border-radius: 2px;
      transform-origin: 5px 0px;
      transition: all 0.2s linear;
      
    }
    .nav_toggle span:nth-child(3){
        margin-bottom: 0px;
      }
    
    .enlaces.open{
        transform: translateX(0%) !important;

    }
    .nav_toggle.open > span {
        transform: rotate(45deg) translate(0px, 0px);
    }
    .nav_toggle.open > span:nth-child(2){
        display: none;
    }
    .nav_toggle.open > span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, 1px);
    }
  }

  @media (max-width: 330px){
    .nav_toggle{
        display: flex !important;
        width: 60px;
        flex-direction: column;
        margin-right:15px;
        margin-left: 30px;
    }
}
